.title {
    position: relative;
    font-weight: 900;
}

.title--primary {
    flex-direction: column;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
    font-weight: 900;

    margin-bottom: 6rem;
}

.title__name {
    text-align: center;
    margin-top: -6rem;
    font-size: 3.5rem;
    color: var(--color-yellow);
}

.title__bg {
    font-size: 7rem;
    font-weight: 800;
    letter-spacing: 10;
}

@media only screen and (max-width: 375px) {
    .title__bg {
        font-size: 4rem;
    }

    .title__name {
        margin-top: -3rem;
        font-size: 3rem;
    }

    .title--primary { 
        margin-bottom: 3rem;
    }
  }
