.slick--portfolio .slick__item {
    position: relative;
    height: 18rem;
    overflow: hidden;
    text-decoration: none;
    box-shadow: 0 5px 15px rgb(17 16 19 / 6%);
    border-radius: 15px;
    margin:0px 1rem;
}

.slick--portfolio .slick-list {
    overflow: unset;
}

.slick--portfolio .slick__item:after {
    content:'';
    position: absolute;
    width: 100%;
    height: 65%;

    left: 0;
    bottom: 0;
    background: transparent linear-gradient(180deg, #facc5300 0%, #191919 100%) 0% 0% no-repeat padding-box;
    opacity: 0.9;

    transition: all 350ms ease;
    z-index: 1;
}

.slick--portfolio .slick__image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit:cover;

    left: 0;
    top: 0;
    transition: all 350ms ease;
    aspect-ratio: 6/4;
}

.slick--portfolio .slick__wrapper {
    position: relative;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    z-index: 2;
    color: var(--color-white);
}

.slick--portfolio .slick__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.slick__button {
    margin-bottom: -3rem;
    transition: all 350ms ease;
}

.slick--portfolio .slick__item:hover::after{
    height: 80%;
}

.slick--portfolio .slick__item:hover::before{
   opacity:0;
}

.slick--portfolio .slick__item:hover .slick__image { 
    transform: scale(1.1);
}

.slick--portfolio .slick__item:hover .slick__button {
    margin-bottom: 0;
}


@media only screen and (max-width: 768px) {
    .slick--portfolio .slick__item {
        height: 25rem;
         margin:0px 0.5rem;
    }   
}

@media only screen and (max-width: 475px) {
    .slick--portfolio .slick__item {
         height: 15rem;
    }   
}

@media only screen and (max-width: 375px) {
    .slick--portfolio .slick__item {
        height: 14rem;      
    }   
}
